<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymerfire/firebase.html">
<link rel="import" href="../polymerfire/firebase-query.html">
<!--
<link rel="import" href="../app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
-->
<link rel="import" href="firebase-app.html">
<link rel="import" href="../uvalib-helper-libs/uvalib-helper-behaviors.html">

<!--
`uvalib-model-forms`
forms model for the Library's API

@demo demo/forms.html
-->

<dom-module id="uvalib-model-forms">
  <template>
      <firebase-query id="query" app-name="uvalibapi"
        path="/forms" order-by-child="uuid" equal-to="[[_uuid]]"
        data="{{forms}}" zero-value="[]"></firebase-query>
<!--
    <app-indexeddb-mirror
        key="[[_generateCacheKey(uuid)]]"
        data="[[tmpData]]"
        persisted-data="{{forms}}"></app-indexeddb-mirror>
-->
  </template>

  <script>
    Polymer({
      is: 'uvalib-model-forms',
      properties: {
        /**
         * The Formss Object
         *
         * @type {Object[]}
         */
        forms: {
          type: Array,
          value: [],
          notify: true
        },
        form: {
          type: Object,
          computed: "_first(forms.*)",
          notify: true
        },
        uuid: {
          type: String,
          value: null
        },
        _uuid: {
          type: Object,
          computed: "_mkID(uuid)"
        }
      },
      _first: function(l) {
        if (l.base && Array.isArray(l.base) && l.base.length > 0)
          return l.base[0];
        else return null;
      },
      _generateCacheKey: function(uuid) {
        return (uuid)? "forms-"+uuid:
                       "forms";
      },
      _mkID: function(id) {
        return (id)? id: null;
      }

    });
  </script>
</dom-module>
