<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymerfire/firebase.html">
<link rel="import" href="../polymerfire/firebase-query.html">
<!--
<link rel="import" href="../app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">
-->
<link rel="import" href="../uvalib-helper-libs/uvalib-helper-behaviors.html">
<link rel="import" href="firebase-app.html">

<!--
`uvalib-model-query`
data query model for the Library's API

@demo demo/query.html
-->

<dom-module id="uvalib-model-query">
  <template>
    <template is="dom-if" if="[[featured]]" restamp>
      <firebase-query id="query" app-name="uvalibapi"
        path="/[[contentType]]"
        order-by-child="featured"
        start-at="[[_start]]" end-at="[[_end]]" equal-to="[[equalTo]]"
        data="{{data}}" zero-value="[]" query="{{query}}"></firebase-query>
    </template>
    <template is="dom-if" if="[[!featured]]" restamp>
      <firebase-query id="query" app-name="uvalibapi"
        path="/[[contentType]]" equal-to="[[equalTo]]" order-by-child="[[orderBy]]"
        data="{{data}}" zero-value="[]" query="{{query}}"></firebase-query>
    </template>
    <!--
    <app-indexeddb-mirror
        key="[[_generateCacheKey(featured)]]"
        data="[[tmpData]]"
        persisted-data="{{data}}">
    </app-indexeddb-mirror>
  -->
  </template>

  <script>
    Polymer({

      is: 'uvalib-model-query',
      behaviors: [uvalibbehaviors.helpers],
      observers: ['_dataChanged(data.splices)'],
      properties: {
        /**
         * The Object from the Library API
         *
         * @type {Object[]}
         */
        data: {
          type: Array,
          value: function(){return []},
          notify: true
        },
        /**
         * Returns only featured items when true (if content type has a featured field)
         */
        featured: {
          type: Boolean,
          value: false
        },
        /**
         * Sets the "content type" to query (used as the path in a query and the key of the indexed-db cache)
         */
        contentType: {
          type: String,
          value: "services"
        },
        _start: {
          type: Number,
          value: 1
        },
        _end: {
          type: Number,
          value: 10000
        },
        random: {
          type: Object,
          notify: true
        },
        orderBy: String,
        equalTo: String,
      },
      _generateCacheKey: function(featured) {
        return (featured)? this.contentType+"-featured":
                           this.contentType;
      },
      _dataChanged: function(){
        this.debounce('datachangebounce',function(){
          if (!this.random) {
            this.set('random',this._random(this.data));
          }
        },50);
      }

    });
  </script>
</dom-module>
