<!doctype html>
<html lang="en">
  <head>
    <title>uvalib-card demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../../uvalib-button/uvalib-button.html">

    <link rel="import" href="../uvalib-featured-content-card.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body unresolved>

    <div class="vertical-section-container">
      <h3>uvalib-custom-cards Demo</h3>
      <demo-snippet>
        <template>
          <style is="custom-style">
            .card {
              margin-bottom: 20px;
            }
          </style>
          <uvalib-featured-content-card content-type="services" heading="Services" href="http://library.virginia.edu/services" link-text="More services" class="card"></uvalib-featured-content-card>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
