<!doctype html>
<html>
  <head>
    <title>uvalib-models demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../uvalib-model-banners.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <demo-snippet>
        <template is="dom-bind">
          <style>
            img {width: 100%;}
          </style>
          <uvalib-model-banners data="{{banners}}" random="{{random}}"></uvalib-model-banners>
          <h2>Random Banner</h2>
          <p>{{random.title}}</p>

          <h2>All Live Banners</h2>
          <template is="dom-repeat" items="{{banners}}">
            <h1>{{item.title}}</h1>
            <img src="{{item.desktopImage.url}}" />
          </template>
          
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
