<!doctype html>
<html>
  <head>
    <title>uvalib-model-forms demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../uvalib-model-forms.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>Basic listing of all forms</h3>
      <demo-snippet>
        <template id="app" is="dom-bind">
          <uvalib-model-forms forms="{{forms}}"></uvalib-model-forms>
          <ul>
            <template is="dom-repeat" items="{{forms}}">
              <li>[[item.title]]
            </template>
          </ul>
        </template>
      </demo-snippet>
    </div>

    <div class="vertical-section-container centered">
      <h3>Get page by path</h3>
      <demo-snippet>
        <template id="app" is="dom-bind">
          <uvalib-model-forms uuid="1ef88654-9f74-4786-90dc-0520d3407f02" form="{{form}}"></uvalib-model-forms>
          <h4>[[form.title]]</h4>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
