<!doctype html>
<html>
  <head>
    <title>uvalib-model-pages demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../uvalib-model-pages.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>Basic listing of all pages</h3>
      <demo-snippet>
        <template id="app" is="dom-bind">
          <uvalib-model-pages pages="{{pages}}"></uvalib-model-pages>
          <ul>
            <template is="dom-repeat" items="{{pages}}">
              <li>[[item.title]]
            </template>
          </ul>
        </template>
      </demo-snippet>
    </div>

    <div class="vertical-section-container centered">
      <h3>Get page by path</h3>
      <demo-snippet>
        <template id="app" is="dom-bind">
          <uvalib-model-pages path="about-uva-library" pages="{{pages}}" page="{{page}}"></uvalib-model-pages>
          <h4>[[page.title]]</h4>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
