<!doctype html>
<html>
  <head>
    <title>uvalib-models demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../uvalib-model-transit-vehicles.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <demo-snippet>
        <template is="dom-bind">
          <style>

          </style>
          <uvalib-model-transit-vehicles></uvalib-model-transit-vehicles>
          <h2>All the UVA UTS busses</h2>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
