<link rel="import" href="../polymer/polymer.html">
<!--<link rel="import" href="../polymerfire/firebase-document.html">-->

<dom-module id="uvalib-form-editor-item">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    Title: <input type="text" value="{{item.text::input}}">
  </template>

  <script>
    Polymer({

      is: 'uvalib-form-editor-item',

      properties: {
        item: {
          type: Object,
          value: function(){ return {};},
          notify: true
        }
      },
      observers: ["_changed(item,item.text)"],

      _changed: function(){
        console.log("item modified");
        this.fire('change');
      }

    });
  </script>
</dom-module>
